# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart
pubspec.lock

# Android
*.iml
.gradle/
local.properties
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDEs
.idea/
.vscode/
*.suo
*.user

# Environment files
.env
.env.*

# Logs
*.log

# macOS
.DS_Store

# Windows
Thumbs.db
